.menu-item{
    height: 42px;
    flex: 1;
    padding-left: 8px;
    padding-right: 14px;
    align-items: center;
    color: #ffffff;
    display: flex;
    border-left: 6px solid transparent;
    cursor: pointer;
}

.menu-item-active{
    border-left: 6px solid #2ca01c !important;
    background-color: #5d5d61;
    font-weight: 700;
    font-size: 13px;
}
.menu-item:hover{
    background-color: #5d5d61;
}

.menu-item .icon{
    margin-right: 8px;
}
.menu-item .icon .menu-icon{
    width: 24px;
    height: 42px;
    display: flex;
    align-items: center;
}

.menu-item-overview{
    background-position: -30px -1628px !important;
}
.menu-item-active .menu-item-overview{
    background-position: -30px -1585px !important;
}

.menu-item-cash{
    background-position: -73px -1628px !important;
	
}
.menu-item-active .menu-item-cash{
    background-position: -73px -1585px !important;
	
}

.menu-item-send{
    background-position: -117px -1628px !important;
}
.menu-item-active .menu-item-send{
    background-position: -117px -1585px !important;
}

.menu-item-buy{
    background-position: -161px -1628px !important;
}
.menu-item-active .menu-item-buy{
    background-position: -161px -1585px !important;
}

.menu-item-sell{
    background-position: -204px -1628px !important;

}
.menu-item-active .menu-item-sell{
    background-position: -204px -1585px !important;
}

.menu-item-bill{
    background-position:  -249px -1628px !important;
	
}
.menu-item-active .menu-item-bill{
    background-position:  -249px -1585px !important;
}

.menu-item-depot{
    background-position:  -291px -1628px !important;
	
}
.menu-item-active .menu-item-depot{
    background-position:  -291px -1585px !important;
	
}

.menu-item-tool{
    background-position:  -336px -1628px !important;
	
}
.menu-item-active .menu-item-tool{
    background-position:  -336px -1585px !important;
	
}

.menu-item-asset{
    background-position:  -378px -1630px !important;
	
}
.menu-item-active .menu-item-asset{
    background-position:  -378px -1587px !important;
	
}

.menu-item-tax{
    background-position:  -423px -1630px !important;
	
}
.menu-item-active .menu-item-tax{
    background-position:  -423px -1587px !important;
	
}

.menu-item-price{
    background-position:  -467px -1628px !important;
	
}
.menu-item-active .menu-item-price{
    background-position:  -467px -1585px !important;
	
}

.menu-item-total{
    background-position:  -510px -1628px !important;
	
}
.menu-item-active .menu-item-total{
    background-position:  -510px -1585px !important;
	
}

.menu-item-budget{
    background-position:  -378px -1659px !important;
	
}
.menu-item-active .menu-item-budget{
    background-position:  -422px -1659px !important;
	
}

.menu-item-report{
    background-position:  -547px -1628px !important;
	
}
.menu-item-active .menu-item-report{
    background-position:  -547px -1585px !important;
	
}

.menu-item-finance{
    background-position:  -204px -1664px !important;
	
}
.menu-item-active .menu-item-finance{
    background-position:  -248px -1664px !important;
	
}