#toast{
    position: fixed;
    top: 50px;
    right: 32px;
    z-index: 99999;
}
.toast-message{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 68px;
    /* border: 1px solid #e5e5e5; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
    width: 300px;
    transition: all linear .3s;
    padding-left: 24px;
    padding-right: 16px;
    margin-bottom: 24px;
    position: relative;
}
@keyframes slideInLeft {

    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
.toast-message .success{
    color: #2ca01c
}
.toast-message .error{
    color: #FF4747
}
.toast-message .info{
    color: #2f86eb
}
.toast-message .warning{
    color: #ffc021; 
}
.delete-toast{
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 6px;
    background-position: -1178px -362px;
}